@import url(./global-style.css);

/*Baner*/
.baner{
    background-image: url('../images/blog.png');
    padding-top: 19rem;
}

.baner h2{
    text-align: center;
    color: var(--font-panel-color);
    font-size: 10rem;
    margin: 0;
}

/*Contenido de la pagina*/

